<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">Contact</h3>
          <strong>UC Developments</strong>
          <address>
            2nd Floor, Bernards Business Park,
            No. 106,   Dutugemunu Street,
            Dehiwala, Sri Lanka
          </address>
          <a href="tel:94767454004">(94) 767 454 004</a> <br>
          <a href="mailto:info@ucdproperties.com">info@ucdproperties.com</a>
        </div> <!-- .widget-title -->
      </div>
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">Social Media</h3>
          <div class="social-links">
            <%= link_to "https://www.facebook.com/UCD-Properties-567361713669541/", class: "facebook" do%>
              <i class="fa fa-facebook"></i>
            <% end %>
            <%= link_to "#", class: "twitter" do%>
              <i class="fa fa-twitter"></i>
            <% end %>
            <%= link_to "#", class: "linkedin" do%>
              <i class="fa fa-linkedin"></i>
            <% end %>
          </div>
        </div> <!-- .widget-title -->
      </div>
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">The Best Realtor in Town</h3>
          <ul class="list-footer">
            <li><i class="fa fa-check-square"></i> Professional Staff</li>
            <li><i class="fa fa-check-square"></i> Will help you find The Best Property on the Market</li>
          </ul>
        </div> <!-- .widget-title -->
      </div>
    </div> <!-- .row -->
    <div class="copy">
      <p>Copyright 2018 SeeGon, Designed by SeeGon. All rights reserved</p>
    </div>
  </div> <!-- .container -->
</footer>
