<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">Contact</h3>
          <strong>UC Developments</strong>
          <address>
            2nd Floor, Bernards Business Park,
            No. 106,   Dutugemunu Street,
            Dehiwala, Sri Lanka
          </address>
          <a href="tel:94767454004">(94) 767 454 004</a> <br>
          <a href="mailto:info@ucdproperties.com">info@ucdproperties.com</a>
        </div> <!-- .widget-title -->
      </div>
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget-title">Social Media</h3>
          <div class="social-links">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
        </div> <!-- .widget-title -->
      </div>
      <div class="col-md-4">
        <div class="widget">
        </div> <!-- .widget-title -->
      </div>
    </div> <!-- .row -->
    <div class="copy">
      <p>Copyright 2018 SeeGon, Designed by SeeGon. All rights reserved</p>
    </div>
  </div> <!-- .container -->
</footer>
