<header class="site-header">
  <div class="container">
    <div id="branding">
      <%= image_tag "ucd-logo.png", class: "logo"%>
      <h1 class="site-title"><a href="index.html">UCD Developments</a></h1>
    </div>
  </div>
</header>
