<div class="homepage contact">
  <div class="hero">
    <div class="hero-half-background"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="hero-content">
            <h2 class="hero-title">Contact Information</h2>
            <strong>UCD Properties</strong>
            <address>
              2nd Floor, Bernards Business Park,
              No. 106,   Dutugemunu Street,
              Dehiwala, Sri Lanka
            </address>
            <br/>
            <a href="tel:94767454004">(94) 767 454 004</a> <br>
            <a href="mailto:info@ucdproperties.com">info@ucdproperties.com</a>
            <span class="arrow"></span>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <div class="request-form">
            <h2>Contact Us</h2>
            <p class="text-grey">Please fill in the following form to contact us:</p>

            <form action="#">
              <div class="field">
                <label for="#">Your name:</label>
                <input type="text">
              </div>
              <div class="field-column row">
                <div class="col-sm-6">
                  <div class="field">
                    <label for="">Email:</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="field">
                    <label for="">Phone:</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="#">Street:</label>
                <input type="text">
              </div>
              <div class="field">
                <label for="#">City:</label>
                <input type="text">
              </div>
              <input type="submit" value="Send a request">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div id="company_map" class="google-map"></div>
  </div>
</div>
