<div class="hero">
  <div class="hero-half-background" data-bg-image="dummy/hero.jpg"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="hero-content">
          <h2 class="hero-title">Contact Information</h2>
          <strong>UC Developments</strong>
          <address>
            2nd Floor, Bernards Business Park,
            No. 106,   Dutugemunu Street,
            Dehiwala, Sri Lanka
          </address>
          <a href="tel:94767454004">(94) 767 454 004</a> <br>
          <a href="mailto:info@ucdproperties.com">info@ucdproperties.com</a>
          <span class="arrow"></span>
        </div>
      </div> <!-- .col-md-5 -->
      <div class="col-md-5 col-md-offset-2">
        <div class="request-form">
          <h2>Contact</h2>
          <p class="text-grey">Fill in the following form to contact us:</p>

          <form action="#">
            <div class="field">
              <label for="#">Your name:</label>
              <input type="text">
            </div> <!-- .field -->
            <div class="field-column row">
              <div class="col-sm-6">
                <div class="field">
                  <label for="">Email:</label>
                  <input type="text">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="field">
                  <label for="">Phone:</label>
                  <input type="text">
                </div>
              </div>
            </div> <!-- .field-column -->
            <div class="field">
              <label for="#">Street:</label>
              <input type="text">
            </div> <!-- .field -->
            <div class="field">
              <label for="#">City:</label>
              <input type="text">
            </div> <!-- .field -->
            <input type="submit" value="Send a request">
          </form>
        </div> <!-- .request-form -->
      </div> <!-- .col-md-5 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .hero -->
