<div class="homepage contact">
  <div class="hero">
    <div class="hero-half-background"></div>
    <div class="container">
      <div class="row">
        <%= render partial: "contact_details" %>

        <div class="col-md-5 col-md-offset-2">
          <div class="request-form">
            <h2>Contact Us</h2>
            <p class="text-grey">Please fill in the following form to contact us:</p>

            <form action="#">
              <div class="field">
                <label for="#">Your name:</label>
                <input type="text">
              </div>
              <div class="field-column row">
                <div class="col-sm-6">
                  <div class="field">
                    <label for="">Email:</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="field">
                    <label for="">Phone:</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="#">Street:</label>
                <input type="text">
              </div>
              <div class="field">
                <label for="#">City:</label>
                <input type="text">
              </div>
              <input type="submit" value="Send a request">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div id="company_map" class="google-map"></div>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyBjqTiOhbq6PiOEciPwtEEigf5VchFFsZc' %>
  <%= javascript_include_tag '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js' %>
<% end %>
