<div class="homepage property_management">
  <div class="hero">
    <div class="container">
      <div class="row">
        <%= render partial: "contact_details" %>

        <div class="col-md-7">
          <div class="request-form">
            <h2>Property Management</h2>
            <p class="text-grey">Please fill in the following form:</p>

            <form action="#">
              <div class="field">
                <label for="#">Your name:</label>
                <input type="text">
              </div>
              <div class="field-column row">
                <div class="col-sm-6">
                  <div class="field">
                    <label for="">Email:</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="field">
                    <label for="">Phone:</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="#">Description:</label>
                <input type="text">
              </div>
              <input type="submit" value="Send a request">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
