.pg-opt {
  border-bottom: 1px solid #083461;
  border-top: 1px solid #083461;
  background: #e8e8e8;
  color: #083461;
}

.pg-opt h2 {
  margin: 0;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
  color: #083461;
}

section.slice {
  padding: 30px 0;
}

.bb {
  border-bottom: 1px solid #083461;
}

.fp-section:before, .fp-section:after {
  display: table;
  content: " ";
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.carousel-inner>img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

.fp-block.property.list .fp-block-footer.style2 ul.aux-info {
  display: table;
  width: 100%;
  border: 1px solid #083461;
}

.fp-block.property.list .fp-block-footer.style2 ul.aux-info {
  margin-top: 9px;
}

.fp-block.property.list .fp-block-footer.style2 ul.aux-info li {
  font-size: 14px;
  padding: 10px 10px;
  text-align: center;
  width: 25%;
}

.table-bordered {
  border: 1px solid #083461;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-striped >tbody > tr:nth-of-type(odd) {
  background-color: #e6e7e8;
}

.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
  border: 1px solid #083461;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
}


.panel {
  color: #083461;
  margin-bottom: 20px;
  background-color: #e6e7e8;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-default>.panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #083461;
}

.panel-default {
  border-color: #083461;
}

.contact-info-panel-body {
  padding: 0px 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.product-info {
  color: #083461;
}

.panel-body {
  padding: 15px;
}

.mi_form {
  position: relative;
  padding-bottom: 60px;
}

.contact-info h4 {
  margin-bottom: 2px;
}

.contact-info h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.carousel-inner .item img {
  max-height: 220px;
  max-width: 250px;
}

ul.list-listings>li {
  margin-bottom: 30px;
  border: 1px solid #083461;
  border-radius: 2px;
}

.cuadro_inmueble {
  position: relative;
}

.prop-listing-image {
  padding: 0px;
}

.prop-listing-image div.prop-figure {
  display: block;
  height: 200px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: #eee;
}

.prop-listing-image div.prop-figure img {
    display: block;
    min-height: 100%;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
}

.prop-listing-body {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.prop-listing-text {
    padding: 0px 10px;
    min-height: 165px;
}

.prop-listing-text h3 {
    margin-top: 10px;
}

.truncated_description {
    display: block;
    overflow: hidden;
    height: 45%;
    position: absolute;
}

.prop-listing-body .meta-info {
    padding: 0px;
    border-top: 1px solid #083461;
}

.ver_inmueble, .action_link {
    color: #083461;
}

.ver_inmueble {
    position: absolute;
    right: 40px;
    bottom: 35px;
}

.prop-listing-body .meta-info ul {
    display: flex;
    padding-left: 0px;
}

.prop-listing-body .meta-info ul li {
    border-right: 1px solid #083461;
    padding: 3px 25px;
    color: #083461;
}
