<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Property</h4>
      </div>
      <div class="card-body">
        <%= render partial: "admin/properties/form", locals: { property: @property } %>
      </div>
    </div>
  </div>
</div>
